
body{
  background: white;
}
h1 {
  color: blue; }

.contanier-fluid {
  padding-left: 0px;
  padding-right: 0px; }

  nav {
    background: lightslategrey; } /* color de fondo */

h2{
  color: white;
  text-align: center;
  background: black;
}

.imagen-1,
.imagen-2{
  height: 500px;
}
.imagen-1{
  margin-bottom: 15px;
}
h3 {
  text-align: center; }

p{
  text-align: center; /* ubicacion */
}

.imagen{
  height: 450px;
  width: 250px;
}

table{
  max-width: 100%;
}

footer{
  background: black;
}

.estilosParaFooter {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding-top: 23px; 
  background: black;

}
.facebook {
  height: 55px; }

.facebook:hover {
  width: 30px; }

.instagram {
  height: 55px; }

.instagram:hover {
  width: 30px; }

.twitter {
  height: 55px; }

.twitter:hover {
  width: 30px; }

.Linkedin {
  height: 55px; }

.Linkedin:hover {
  width: 30px; }

@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
 }

    /* vista desktop */
@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
	p, span, li {font-size: 20px;} /* tamaño de las letras */
	h1{font-size: 50px;} /* tamaño de las letras */
	h3{font-size: 42px;} /* tamaño de las letras */
}

/* vista mobile */
@media only screen and (max-width: 767px){
	p, li {font-size: 18px;} /* tamaño de las letras */
	h1{font-size: 40px;} /* tamaño de las letras */
	h3{font-size: 32px;} /* tamaño de las letra */
}


