
body{
  background: white;
}
h1 {
  color: blue; }

h1 {
  color: blue; }

.facebook {
  height: 55px; }

.facebook:hover {
  width: 30px; }

.instagram {
  height: 55px; }

.instagram:hover {
  width: 30px; }

.twitter {
  height: 55px; }

.twitter:hover {
  width: 30px; }

.Linkedin {
  height: 55px; }

.Linkedin:hover {
  width: 30px; }

h3 {
  text-align: center; }

.imagen{
  height: 450px;
  }

.bg-red{
  background: red;
}
h2{
  color: white;
  text-align: center;
  background: black;
}
footer{
  background: black;
}
.estilosParaFooter {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding-top: 23px; 
  background: black;
;}

.contanier-fluid {
  padding-left: 0px;
  padding-right: 0px; }

table{
    max-width: 100%;
  }


@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; } }

    /* vista desktop */
@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
	.footerFlex{display: flex;justify-content: space-around;}
	p, span, li {font-size: 20px;}
	h1{font-size: 50px;}
	h3{font-size: 42px;}
}


/* vista mobile */
@media only screen and (max-width: 767px){
	.footerFlex{display: flex;flex-direction: column;}
	p, li {font-size: 18px;}
	h1{font-size: 40px;}
	h3{font-size: 32px;}
}

nav {
  background: black; }
